<!DOCTYPE html>
<html>

<head>
   <title>Uark Register - Add a product</title>
   {% load static %}
   <script type="text/javascript" src="{% static 'scripts/apiRequests.js' %}" defer></script>
   <script type="text/javascript" src="{% static 'scripts/productActions.js' %}" defer></script>
   <script type="text/javascript" src="{% static 'scripts/siteActions.js' %}" defer></script>
   <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>

<body>

	<h1>Create Product</h1>
	<div id='statusBox'>
		<p id="status"></p>
	</div>
	

	{% if queryString != 'default' and queryType == 'error' %}
		<script>
			document.getElementById('statusBox').style.background = '#FFCCCC';
			document.getElementById('statusBox').style.display = "block";
			document.getElementById('status').innerHTML = "{{ queryString }}";
			setTimeout(function(){ document.getElementById('statusBox').style.display = 'none'; }, 5000);
		</script>
	{% endif %}
	
	<form action="javascript:Create();">
		<label for="productCode">Product Name:</label>
		<input type="text" id="productCode" name="productCode" value="" required><br>
		<label for="productCount">Product QTY:</label>
		<input type="number" id="productCount" name="productCount" value="" required><br><br>
		<input type="submit" value="Create" class="button center">
		{% csrf_token %}
	</form>

</body>

</html>