<!DOCTYPE html>
<html>

<head>
   <title>Product</title>
   {% load static %}
   <script type="text/javascript" src="{% static 'scripts/apiRequests.js' %}"defer></script>
   <script type="text/javascript" src="{% static 'scripts/productActions.js' %}" defer></script>
   <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>

<body>

    <h1>Product Detail</h1>
    <div id='statusBox'>
        <p id="status"></p>
    </div>
    {% if product.productUUID %}
    <form action="javascript:updateProduct();">
        <label for="productCode">Product Code:</label><br>
        <input type="text" id="productCode" name="productCode" value="{{ product.productCode }}"><br>
        <label for="productCount">Count:</label><br>
        <input type="number" id="productCount" name="productCount" value="{{ product.productCount }}"><br><br>
        <input type="hidden" id="productUUID" name="productUUID" value="{{ product.productUUID }}">
        {% csrf_token %}
        <input type="submit" value="Save" class="button blueButton">
    </form> 
	
    {% else %}
    <form action="javascript:createProduct();">
        <label for="productCode">Product Code:</label><br>
        <input type="text" id="productCode" name="productCode" value=""><br>
        <label for="productCount">Count:</label><br>
        <input type="number" id="productCount" name="productCount" value=""><br><br>
        {% csrf_token %}
        <input type="submit" value="Create" class="button blueButton">
    </form> 
    {% endif %}
    
</body>

</html>