<!DOCTYPE html>
<html>

<head>
   <title>Uark Register - {{ product.productCode }}</title>
   {% load static %}
   <script type="text/javascript" src="{% static 'scripts/apiRequests.js' %}"defer></script>
   <script type="text/javascript" src="{% static 'scripts/productActions.js' %}" defer></script>
   <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>

<body>

    <h1>Product Details</h1>
    <div id='statusBox'>
        <p id="status"></p>
    </div>

    {% if product.productUUID %}
    <form action="javascript:updateProduct();">
        <label for="productCode">Product Name:</label>
        <input type="text" id="productCode" name="productCode" value="{{ product.productCode }}"><br>
        <label for="productCount">Product QTY:</label>
        <input type="number" id="productCount" name="productCount" value="{{ product.productCount }}"><br><br>
        <input type="hidden" id="productUUID" name="productUUID" value="{{ product.productUUID }}">
        <input type="submit" value="Save" class="button productDetailsBlueButton">
        <button type="button" class="button productDetailsGreenButton" onclick="window.location.href='/';">Return Home</button>
        {% csrf_token %}
    </form> 
    {% endif %}
    
</body>

</html>