<!DOCTYPE html>
<html>
<head>
    <title>Uark Register - Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <header class="banner">
        <h1>Main Menu</h1>
    </header>

    <section class="navbar">
        <a href="#" onclick="window.location.href='/registerMenu';">
            <!--Home icon-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg>
            Home
        </a>
        <a href="#" class="signout" onclick="window.location.href='/signOff';">
            <!--Signout icon-->
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="white" width="18px" height="18px">
                <g><rect fill="none" height="24" width="24"/></g>
                <g><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/></g></svg>
             Signout
        </a>
    </section>

    <!--FIX!!! Don't know where to redirect some pages to-->
    <div class="grid">
        <button class="button" onclick="window.location.href='';">Start Transaction</button>
        <button class="button" onclick="window.location.href='/productListing';">View Products</button>
        <button class="button" onclick="window.location.href='/employeeDetails';">Create Employee</button>
        <button class="button" onclick="window.location.href='';">Sales Report</button>
        <button class="button" onclick="window.location.href='';">Cashier Report</button>
    </div>
</body>
</html>