<!DOCTYPE html>
<html>

<head>
	<title>Uark Register - Sign In</title>
	{% load static %}
	<script type="text/javascript" src="{% static 'scripts/apiRequests.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/miscActions.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/employeeActions.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/productActions.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">

	{% if not employees.exists %}
	<script>window.location.href='/employeeDetails';</script>
	{% endif %}

</head>


<body>

	<header class="banner small">
		<h1>UArk Register</h1>
		<h3>Sign-In</h3>
	</header>
	<br>

	<div class="container">
		<h2 class="head">Sign In</h2>
		<hr>

	<!-- Do not delete this span! This is how the
		generated error messages are displayed! -->
	<span id="alert" style="display: none"></span>

	{% if queryString %}
	<script>displayMessage("{{queryString}}", 'error');</script>
	{% endif %}


		{% if employees.exists %}
		<form action="/signIn/" method="POST" onsubmit="return validateSignIn()">
			<label for="employeeID">Employee ID:</label>
			{% if employeeID != 0 %}
			<input type="number" id="employeeID" name="employeeID" value="{{ employeeID }}" required><br>
			{% else %}
			<input type="number" id="employeeID" name="employeeID" value="" required><br>
			{% endif %}
			<label for="employeePassword">Employee Password:</label>
			<input type="password" id="employeePassword" name="employeePassword" value="" required>
			<hr>
			<input type="submit" value="Sign In" class="button extend">
			{% csrf_token %}
		</form>
		{% endif %}
	</div>
	<br>

</body>
</html>





