<!DOCTYPE html>
<html>

<head>
	<title>Uark Register - Sign In</title>
	{% load static %}
	<script type="text/javascript" src="{% static 'scripts/apiRequests.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/siteActions.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">

	{% if not employees.exists %}
	<script>window.location.href='/employeeDetails';</script>
	{% endif %}

	<script>
		//Validate sign-in
		function validateSignIn() {
			//alert('hello');
			employeeID = document.getElementById("employeeID").value;
			employeePassword = document.getElementById("employeePassword").value;
			if (isNaN(employeeID) || employeeID == " " || employeePassword == " ") {
				displayMessage('Register Error: All form fields are required.', 'failed');
				return true;
			}
		}

	</script>

</head>


<body>

	<h1>Uark Register</h1>
	<div class="container">
		<h2 class="head">Sign In</h2>
		<hr>
		<div id='statusBox'>
			<p id="status"></p>
		</div>

		{% if queryString != 'default' and queryType == 'error' %}
		<script>
			document.getElementById('statusBox').style.background = '#FFCCCC';
			document.getElementById('statusBox').style.display = "block";
			document.getElementById('status').innerHTML = "{{ queryString }}";
			setTimeout(function(){ document.getElementById('statusBox').style.display = 'none'; }, 5000);
		</script>
		{% endif %}

		{% if employees.exists %}
		<form action="/signIn/" method="POST" onclick="javascript:validateSignIn();">
			<label for="employeeID">Employee ID:</label>
			{% if employeeID != 0 %}
			<input type="number" id="employeeID" name="employeeID" value="{{ employeeID }}" required><br>
			{% else %}
			<input type="number" id="employeeID" name="employeeID" value="" required><br>
			{% endif %}
			<label for="employeePassword">Employee Password:</label>
			<input type="password" id="employeePassword" name="employeePassword" value="" required>
			<hr>
			<input type="submit" value="Sign In" class="button extend">
			{% csrf_token %}
		</form>
		{% endif %}
	</div>

</body>
</html>





